.label {
    text-align: center;
    margin-top: 13px;
}

.skillIcon {
    width: 32px;
    height: 32px;
}

.dropdown-toggle, .dropdown-menu {
    width: 100%;
}

.dropdown-menu, .form-control {
    max-height: 300px;
    overflow-y: scroll;
    text-align: center;
}