.classList {
    text-align: center;
}

.classList > .card {
    width: 450px;
    max-height: 300px;
    margin: 7px;
    display: inline-flex;
}

.card > .list-group {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

.card > .list-group > .list-group-item {
    text-align: left;
}