.nodeWrapper {
    display: inline-flex;
    padding: 5px;
}

.container {
    height: 300px;
    overflow: scroll;
    overflow-x: hidden;
}

.verticalDivider {
    border-left: 1px solid rgba(140, 130, 115, 0.1);
}

.information {
    text-align: center;
    font-size: 12px;
    line-height: 10px;
}

.nodes {
    max-height: 450px;
    overflow: scroll;
    overflow-x: hidden;
}

.skillList {
    text-align: center; 
}

.cell {
    display: inline-flex;  
    margin: 3px;
    width: 90px;
    height: 90px;
    position: relative;
    vertical-align: middle;
}

.card-body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-body > .skillIcon {
    width: 100%;
    height: 100%;
}